{% if (hidden == true)  %}
{% assign display = "d-none" %}
{% else %}
{% assign display = "" %}
{% endif %}
<!-- WIZARD: LOGIN -->
<div id="wizard-login" class="col-md-6 col-sm-12 mb-3 {{ display }}">
	<div class="card card-custom h-100 p-3 bg-white">
		<div id="loginContainer" class="row">
			<h5 class="mb-3 text-center text-primary">Login with these demo users</h5>
			<div class="d-flex flex-wrap justify-content-around mb-4">
				{% for user in site.data.jr-slim.api_users %}
				{% if user.password %}
				{% include jr-slim/user-profile.html 
					username=user.username 
					password=user.password 
					type=user.type 
					color=user.color 
				%}
				{% endif %}
				{% endfor %}
			</div>
			<h5 class="mb-3 text-center text-primary">or use your credentials</h5>
			<form id="loginForm" class="mb-4">
				<div class="mb-3">
					<label for="username" class="form-label visually-hidden">Username</label>
					<input type="text" class="form-control rounded" id="username" placeholder="Username" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label visually-hidden">Password</label>
					<input type="password" class="form-control rounded" id="password" placeholder="Password" required>
				</div>
				<div class="d-grid">
					<button type="submit" class="btn btn-primary rounded">Login</button>
				</div>
				<h5 id="loginError" class="mt-3 text-center text-danger"></h5>
			</form>
		</div>
	</div>
</div>
<script>
	function loginWithUser(username, password) {
		const form = document.getElementById('loginForm');
		const button = form.querySelector('button[type="submit"]');
		if (button.disabled) {
			return;
		}
		// Trigger submit event so event listeners run
		document.getElementById('username').value = username;
		document.getElementById('password').value = password;
		const event = new Event('submit', { bubbles: true, cancelable: true });
		form.dispatchEvent(event);
	}
	function onLoginAttempted(event) {
		event.target.querySelector('button[type="submit"]').disabled = true;
		event.preventDefault();
		const username = document.getElementById('username').value;
		const password = document.getElementById('password').value;
		try {
			wiz.resolveLogin(username, password);
		} catch (error) {
			document.getElementById('loginError').innerHTML = error;
		}
		return;
	}
	// Prevent default form submission for the login form
	document.getElementById('loginForm').addEventListener('submit', (event) => onLoginAttempted(event));
</script>
